---
import { MdOutlineEmail } from 'react-icons/md';
import { SiGooglemaps } from 'react-icons/si';
import { RiMessengerLine } from 'react-icons/ri';
import { BsWhatsapp } from 'react-icons/bs';

const { type, title, subtitle, link, icon, mapSrc } = Astro.props;
---

<div class="bg-white rounded-lg p-6 text-black text-center">
  <div class="flex justify-center mb-4">
    {type === 'email' && <MdOutlineEmail className="text-black text-3xl" />}
    {type === 'location' && <SiGooglemaps className="text-black text-3xl" />}
    {type === 'messenger' && <RiMessengerLine className="text-black text-3xl" />}
    {type === 'whatsapp' && <BsWhatsapp className="text-black text-3xl" />}
  </div>
  <h4 class="text-lg font-medium">{title}</h4>
  <h5 class="text-sm mb-4">{subtitle}</h5>
  {mapSrc ? (
    <iframe 
      src={mapSrc} 
      width="100%" 
      height="200" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  ) : (
    <a href={link} class="text-blue-400 underline hover:text-blue-600">
      Send a message
    </a>
  )}
</div>
