---
console.log('javascript');
---
<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-2">
  <div class="flex items-center justify-between">
    <!-- SVG izquierda ajustado hacia arriba -->
    <img src="/assets/Broquelizate-logos/icono relleno.svg" alt="Icono izquierda" class="w-8 h-8 transform -translate-y-2">

    <!-- Contenedor del texto (imagen central) -->
    <div class="mx-4 text-center">
      <a href="/">
      <img src="/assets/Broquelizate-logos/logo-blanco.png" alt="Logo central" class="max-w-full h-auto rounded-lg mb-0" >
      </a>
    </div>

    <!-- SVG derecha ajustado hacia arriba -->
    <img src="/assets/Broquelizate-logos/icono relleno.svg" alt="Icono derecha" class="w-8 h-8 transform -translate-y-2">
  </div>
</header>
