---
console.log('javascript');
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-2">
    
        <div class="flex items-center justify-center">
          <!-- Línea izquierda -->
          <div class="flex-grow border-t-2 border-yellow-200 mr-4"></div>
      
          <!-- Contenedor del texto -->
          <div class="mx-4">
            <img src="/assets/broquePNG.webp" alt="Descripción de la imagen" class="max-w-full h-auto rounded-lg mb-0">
        </div>
        
          <!-- Línea derecha -->
       <div class="flex-grow border-t-2 border-yellow-200 ml-4"></div>
        </div>
      

    
</header>