  <!-- SVG icon with login link aligned further to the right -->
  <div class="absolute top-2 right-20 flex items-center space-x-2"> <!-- Adjusted the right margin -->
    <img src="/assets/Broquelizate-logos/person.svg" alt="Avatar" class="w-6 h-6">
    <a href="/login" class="text-white hover:underline">Iniciar sesión</a>
  </div>
<header class="py-4 px-4 mx-auto max-w-xl lg:py-8 lg:px-2 relative">



  <div class="flex items-center justify-between">

    <!-- SVG on the left, slightly adjusted upwards -->
    <img src="/assets/Broquelizate-logos/icono relleno.svg" alt="Icono izquierda" class="w-8 h-8 transform -translate-y-2">

    <!-- Central logo -->
    <div class="mx-4 text-center">
      <a href="/">
        <img src="/assets/Broquelizate-logos/logo-blanco.png" alt="Logo central" class="max-w-full h-auto rounded-lg">
      </a>
    </div>

    <!-- SVG on the right, slightly adjusted upwards -->
    <img src="/assets/Broquelizate-logos/icono relleno.svg" alt="Icono derecha" class="w-8 h-8 transform -translate-y-2">

  </div>
</header>
