---
interface Producto {
  nombre: string;
  imagen: string;
  precio: number;
}

interface ProductCardProps {
  producto: Producto;
}

const { producto } = Astro.props as ProductCardProps;
const { nombre, imagen, precio } = producto;
---



<div class="flex flex-wrap items-center justify-center  gap-x-8 gap-y-10">
<div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div
    class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-clip-border text-white shadow-lg"
    style={`background-image: url('${imagen}'); background-size: cover; background-position: center;`}
  ></div>
  <div class="p-6">
    <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      {nombre}
    </h5>
    <p class="block font-sans text-base leading-relaxed text-inherit antialiased">
      ${precio.toFixed(2)}
    </p>
  </div>
  <div class="p-6 pt-0">
    <button
      data-ripple-light="true"
      type="button"
      class="select-none rounded-lg bg-black py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    >
      Ver más.
    </button>
  </div>
 </div>
</div>

