<section class="py-8 px-4 mx-auto w-full lg:py-16 lg:px-2">

        <div class="flex items-center justify-center pb-10">
            <h1 class="text-4xl font-bold mb-4 text-gold">Productos</h1>
        </div>

        <div class="flex flex-wrap items-center justify-center gap-x-4 gap-y-6">
            <div class="card shadow-[0px_4px_16px_#FFFFFF] h-[400px] w-[280px] group gap-[0.5em] rounded-[1.5em] relative flex justify-end flex-col p-[1.5em] z-[1] overflow-hidden bg-cover bg-center" style="background-image: url('/assets/Imagenes-Productos/Broqueles/Broquel-rosa.webp');">
                <div class="absolute top-0 left-0 h-full w-full bg-[#111111] opacity-10"></div>
                <div class="container text-white z-[2] relative font-nunito flex flex-col gap-[0.5em] bg-black bg-opacity-70 p-4 rounded-md">
                    <div class="h-fit w-full">
                        <h1 class="card_heading text-[1.5em] tracking-[.2em]" style="font-weight: 900; -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px; text-shadow: 0 0 7px #fffb008a;">Broquel-Rosa</h1>
                        <p class="text-[1.2em]" style="font-weight: 900; -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px; text-shadow: 0 0 7px #fffb008a;">Dorado</p>
                    </div>
                    <div class="flex justify-center items-center h-fit w-fit gap-[0.5em]">
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>Broquel</p>
                        </div>
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>Oro</p>
                        </div>
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>200$</p>
                        </div>
                    </div>
                </div>
                <p class="font-nunito block text-white font-light relative h-[0em] group-hover:h-[7em] leading-[1.2em] duration-500 overflow-hidden bg-black bg-opacity-70 p-4 rounded-md">
                    Arete elegante con cuarzo rosa.
                </p>
            </div>

            <!-- Repite esta sección para las demás tarjetas -->
            <!-- Asegúrate de ajustar la clase flex para las demás tarjetas también -->
            <div class="card shadow-[0px_4px_16px_#FFFFFF] h-[400px] w-[280px] group gap-[0.5em] rounded-[1.5em] relative flex justify-end flex-col p-[1.5em] z-[1] overflow-hidden bg-cover bg-center" style="background-image: url('/assets/Imagenes-Productos/Broqueles/Broquel-sol-oro.webp');">
                <div class="absolute top-0 left-0 h-full w-full bg-[#111111] opacity-10"></div>
                <div class="container text-white z-[2] relative font-nunito flex flex-col gap-[0.5em] bg-black bg-opacity-70 p-4 rounded-md">
                    <div class="h-fit w-full">
                        <h1 class="card_heading text-[1.5em] tracking-[.2em]" style="font-weight: 900; -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px; text-shadow: 0 0 7px #fffb008a;">Broquel-Sol</h1>
                        <p class="text-[1.2em]" style="font-weight: 900; -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px; text-shadow: 0 0 7px #fffb008a;">Dorado</p>
                    </div>
                    <div class="flex justify-center items-center h-fit w-fit gap-[0.5em]">
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>Broquel</p>
                        </div>
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>Oro</p>
                        </div>
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>250$</p>
                        </div>
                    </div>
                </div>
                <p class="font-nunito block text-white font-light relative h-[0em] group-hover:h-[7em] leading-[1.2em] duration-500 overflow-hidden bg-black bg-opacity-70 p-4 rounded-md">
                    Elegante Arete en forma de sol.
                </p>
            </div>

            <div class="card shadow-[0px_4px_16px_#FFFFFF] h-[400px] w-[280px] group gap-[0.5em] rounded-[1.5em] relative flex justify-end flex-col p-[1.5em] z-[1] overflow-hidden bg-cover bg-center" style="background-image: url('/assets/Imagenes-Productos/Broqueles/Broquel-corazon-titanio.webp');">
                <div class="absolute top-0 left-0 h-full w-full bg-[#111111] opacity-10"></div>
                <div class="container text-white z-[2] relative font-nunito flex flex-col gap-[0.5em] bg-black bg-opacity-70 p-4 rounded-md">
                    <div class="h-fit w-full">
                        <h1 class="card_heading text-[1.5em] tracking-[.2em]" style="font-weight: 900; -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px; text-shadow: 0 0 7px #fffb008a;">Broquel Corazón</h1>
                        <p class="text-[1.2em]" style="font-weight: 900; -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px; text-shadow: 0 0 7px #fffb008a;">Titanio</p>
                    </div>
                    <div class="flex justify-center items-center h-fit w-fit gap-[0.5em]">
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>Broquel</p>
                        </div>
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>Oreja</p>
                        </div>
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>100$</p>
                        </div>
                    </div>
                </div>
                <p class="font-nunito block text-white font-light relative h-[0em] group-hover:h-[7em] leading-[1.2em] duration-500 overflow-hidden bg-black bg-opacity-70 p-4 rounded-md">
                    Perforación realizada insertando dos perforaciones conectadas por una barra recta, generalmente en el cartílago de la oreja.
                </p>
            </div>

            <div class="card shadow-[0px_4px_16px_#FFFFFF] h-[400px] w-[280px] group gap-[0.5em] rounded-[1.5em] relative flex justify-end flex-col p-[1.5em] z-[1] overflow-hidden bg-cover bg-center" style="background-image: url('/assets/Imagenes-Productos/Broqueles/Industrial2.webp');">
                <div class="absolute top-0 left-0 h-full w-full bg-[#111111] opacity-10"></div>
                <div class="container text-white z-[2] relative font-nunito flex flex-col gap-[0.5em] bg-black bg-opacity-70 p-4 rounded-md">
                    <div class="h-fit w-full">
                        <h1 class="card_heading text-[1.5em] tracking-[.2em]" style="font-weight: 900; -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px; text-shadow: 0 0 7px #fffb008a;">Industrial</h1>
                        <p class="text-[1.2em]" style="font-weight: 900; -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px; text-shadow: 0 0 7px #fffb008a;">Dorado</p>
                    </div>
                    <div class="flex justify-center items-center h-fit w-fit gap-[0.5em]">
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>Broquel</p>
                        </div>
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>Oreja</p>
                        </div>
                        <div class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer">
                            <p>100$</p>
                        </div>
                    </div>
                </div>
                <p class="font-nunito block text-white font-light relative h-[0em] group-hover:h-[7em] leading-[1.2em] duration-500 overflow-hidden bg-black bg-opacity-70 p-4 rounded-md">
                    Perforación realizada insertando dos perforaciones conectadas por una barra recta, generalmente en el cartílago de la oreja.
                </p>
            </div>
        </div>
</section>
