<section class="py-8 px-4 mx-auto w-full lg:py-16 lg:px-2">

<div class="flex items-center justify-center pb-10">
    <h1 class="text-4xl font-bold mb-4 text-gold">Productos</h1>
</div>


<div class="flex items-center pb-10 pl-16">
  <p class="text-2xl font-bold mb-4 text-gold text-left">Oro 10K: </p>
</div>
  <div class="flex flex-wrap items-center justify-center  gap-x-8 gap-y-10 ">

    <!-- ---------------------Card 1--------------------- --> 
    <div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
      <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-clip-border text-white shadow-lg" 
           style="background-image: url('../../assets/Imagenes-Productos/Oro10k/cadena-luna-bisel.webp'); background-size: cover; background-position: center;">
      </div>
      <div class="p-6">
          <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Cadena luna bisel
          </h5>
          <p class="block font-sans text-base leading-relaxed text-inherit antialiased">
            $530.00
          </p>
      </div>
      <div class="p-6 pt-0">
          <button data-ripple-light="true" type="button" 
                  class="select-none rounded-lg bg-black py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
              Ver más.
          </button>
      </div>
  </div>
      <!-- ---------------------Card 2--------------------- --> 
      <div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-clip-border text-white shadow-lg" 
             style="background-image: url('../../assets/Imagenes-Productos/Oro10k/cadena-corazon-bisel.webp'); background-size: cover; background-position: center;">
        </div>
        <div class="p-6">
            <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
              Cadena corazón bisel
            </h5>
            <p class="block font-sans text-base leading-relaxed text-inherit antialiased">
              $500.00
            </p>
        </div>
        <div class="p-6 pt-0">
            <button data-ripple-light="true" type="button" 
                    class="select-none rounded-lg bg-black py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                Ver más.
            </button>
        </div>
    </div>

      <!-- ---------------------Card 3--------------------- --> 
      <div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-clip-border text-white shadow-lg" 
             style="background-image: url('../../assets/Imagenes-Productos/Oro10k/rayo-colgante.webp'); background-size: cover; background-position: center;">
        </div>
        <div class="p-6">
            <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
              Rayo colgante (pieza)
            </h5>
            <p class="block font-sans text-base leading-relaxed text-inherit antialiased">
              $240.00
            </p>
        </div>
        <div class="p-6 pt-0">
            <button data-ripple-light="true" type="button" 
                    class="select-none rounded-lg bg-black py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                Ver más.
            </button>
        </div>
    </div>
  
      <!-- ---------------------Card 4--------------------- --> 
      <div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-clip-border text-white shadow-lg" 
             style="background-image: url('../../assets/Imagenes-Productos/Oro10k/huggie-verde.webp'); background-size: cover; background-position: center;">
        </div>
        <div class="p-6">
            <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
              Huggie verde (pieza)
            </h5>
            <p class="block font-sans text-base leading-relaxed text-inherit antialiased">
              $320.00
            </p>
        </div>
        <div class="p-6 pt-0">
            <button data-ripple-light="true" type="button" 
                    class="select-none rounded-lg bg-black py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                Ver más.
            </button>
        </div>
    </div>

        <!-- ---------------------Card 5--------------------- --> 
        <div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md ">
          <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-clip-border text-white shadow-lg" 
               style="background-image: url('../../assets/Imagenes-Productos/Oro10k/cruz-colgante.webp'); background-size: cover; background-position: center;">
          </div>
          <div class="p-6">
              <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                Cruz colgante (pieza)
              </h5>
              <p class="block font-sans text-base leading-relaxed text-inherit antialiased">
                $280.00
              </p>
          </div>
          <div class="p-6 pt-0">
              <button data-ripple-light="true" type="button" 
                      class="select-none rounded-lg bg-black py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                  Ver más.
              </button>
          </div>
        </div>
        <!-- ---------------------Card 5--------------------- --> 
        <div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md ">
          <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-clip-border text-white shadow-lg" 
               style="background-image: url('../../assets/Imagenes-Productos/Oro10k/cadena-garantilla-paper.webp'); background-size: cover; background-position: center;">
          </div>
          <div class="p-6">
              <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                Cadena gargantilla paper clip
              </h5>
              <p class="block font-sans text-base leading-relaxed text-inherit antialiased">
                $3800.00
              </p>
          </div>
          <div class="p-6 pt-0">
              <button data-ripple-light="true" type="button" 
                      class="select-none rounded-lg bg-black py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                  Ver más.
              </button>
          </div>
        </div>
        <!-- ---------------------Card 5--------------------- --> 
        <div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md ">
          <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-clip-border text-white shadow-lg" 
               style="background-image: url('../../assets/Imagenes-Productos/Oro10k/cadena-garantillas-perla.webp'); background-size: cover; background-position: center;">
          </div>
          <div class="p-6">
              <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                Cadena gargantilla lunas
              </h5>
              <p class="block font-sans text-base leading-relaxed text-inherit antialiased">
                $3900.00
              </p>
          </div>
          <div class="p-6 pt-0">
              <button data-ripple-light="true" type="button" 
                      class="select-none rounded-lg bg-black py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                  Ver más.
              </button>
          </div>
        </div>
        <!-- ---------------------Card 5--------------------- --> 
        <div class="relative flex w-80 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md ">
          <div class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-clip-border text-white shadow-lg" 
               style="background-image: url('../../assets/Imagenes-Productos/Oro10k/cadena-corazon-bisel.webp'); background-size: cover; background-position: center;">
          </div>
          <div class="p-6">
              <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                Cadena bolitas de oro
              </h5>
              <p class="block font-sans text-base leading-relaxed text-inherit antialiased">
                $3400.00
              </p>
          </div>
          <div class="p-6 pt-0">
              <button data-ripple-light="true" type="button" 
                      class="select-none rounded-lg bg-black py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                  Ver más.
              </button>
          </div>
        </div>
    </div>
</section>
